{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <br>
        <h1>{{w.title}}</h1>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Date de création</th>
                <th>Description du souhait</th>

            </tr>
            </thead>

            <tbody>
            {% for w in wishes %}

                <tr>
                    <td>{{w.author}}</td>
                    <td><em>{{w.dateCreated|date("y/m/Y H:i")}}</em></td>
                    <td>{{w.description}}</td>

                </tr>
            {% endfor %}
            <tbody>

        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}