{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <br>
        <h1><strong>Wishes list !</strong></h1>
        <br>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Souhait</th>
                <th>Pour?</th>
            </tr>
            </thead>

            <tbody>
            {% for w in wishes %}

                <tr>
                    <td>{{w.title}}</td>
                    <td>{{w.author}}</td>
                    <td> <a href="{{ path('details', {id: w.id}) }}" class="btn btn-outline-warning">Détails</a></td>
                </tr>
            {% endfor %}
            <tbody>

        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}