{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <br>
        <h1><strong>Wishes list !</strong></h1>
        <br>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Souhait</th>
                <th>Détails</th>
                <th>Pour qui ?</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>
            {% for w in Wish %}

                <tr>
                    <td>{{ getTitle(w) }}</td>
                    <td>{{ getDescription(w) }}</td>
                    <td>{{ getAuthor(w) }}</td>
                    <td>{{ getDateCreated(w) }}</td>
                </tr>
            {% endfor %}
            <tbody>

        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}